@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/*media queries*/




 .container {
   max-width: 1281px;
   margin: auto;
    font-family: 'Raleway', sans-serif;
    color:black;

} 

/*Liens hypertextes*/
a {
    text-decoration: none;
}
a:visited {
    color: #0065FC;
}
/*Header*/
ul {
    list-style : none;
}
header{
    display : flex;
justify-content: space-between;    
align-items: flex-end;
    
}
/*Logo */
#logo {
    /*margin-left: 25px;*/
    margin-top: 15px;
}
/*Nav bar*/
nav ul {
    display: flex;

}

nav li {
    margin-right: 25px;
    margin-top : 15px;
   color: #0065FC; 
}
nav a:hover {
    border-top: 3px solid #0065FC;
    padding-top: 25px;
}
/*Header*/

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
max-width: 75%;
margin-left: 15px;

 }
 
 footer h2 {
font-size: 18px; }

#footer {
    background-color: #F2F2F2;

}
footer li:not(:last-child) {
   margin-bottom: 10px; 
}



#NosHebergements ul {
    display: flex;
    flex-direction: column;
padding-left: 0px;   

}


#Assistance ul {
    display: flex;
    flex-direction: column;
padding-left: 0px;   
 }

#Apropos {
    text-align: left;
    padding-left: 0px;
   
}

#Apropos ul {
    display: flex;
    flex-direction: column;
padding-left: 0px;   
 
}
/*Footer*/

/* Police */

h1 {
    font-size: 25px;
    font-weight:900;
}
h2 {
    font-size: 20px;
}



footer li {
    font-size: 12px;
}

/*Police*/

/*Corps*/
p {
    margin-left: /*25px*/ auto;
} 
h1 {
    /*margin-left: 25px;*/
}

/*bouton*/

#Rechercher {
    color:white;
    background-color:  #0065FC;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    height : 43px;
    width: 100px;
    font-size: 13px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin: 0px;
position: relative;
left: -10px;
    }


::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    color:black;
    font-size : 14px;
    padding-left: 20px;
}
#lieu {
   /* margin-left: 45px;*/
    height: 40px;
    width: 230px;
    border : solid #F2F2F2 1px;
position: relative;
right: 5px;
}
#img_localisation {
    background-color:#F2F2F2;
    height: 31.2px;
    padding-right: 15px;
    padding-left: 15px;
   padding-top: 12.5px;
   padding-bottom:0px;
    border-radius : 10px 0px 0px 10px;
    margin-left: /*-25px;*/ auto;}

   
/*Bouton*/

/*Filtres*/

#Filtres ul {
   display: flex;
 justify-content:space-between;
    padding-left: 0px;
    max-width: 75%;
    font-weight: 900;
    font-size: 15px;
   border-radius: 35px;
border-left: none;
}
#titre_filtres {
    position: relative;
    top:10px;
}

 .icon {
     
    color:#0065FC;
    background-color: #DEEBFF;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50%;

   

} 

#child {
    
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#0065FC;

    background-color:  #DEEBFF;
    position : relative;
    right : 2px;

}



.Filtres {
   border: 2px solid #F2F2F2 ;
 padding-left: 0px;
 padding-right: 10px;
 padding-bottom: 0px; 
 border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}



#money {
 
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
    position : relative;
    right : 1px;
}



#heart {
    position : relative;
    right : 1px;
}



#dog {
    /*height:0px;*/
    position : relative;
    right : 1px;
    top: 0px;
}

#Animaux {
    position:relative;
    right: 1px;
    margin-bottom: auto;
   /* margin-top: 1px;*/
}
#Romantique {
    margin-bottom:  auto; 
}
#Familial {
    margin-bottom:auto ;
    

}
#Economique {
    margin-bottom:15.5px ;

}

#Filtres a {
    color:black;
}
#Filtres a :hover {
    transform: scale(1.5);
}

#info {
    color: #0065FC;
    padding-right: 5px;
    padding-left: 5px;
    border : 2px solid #F2F2F2;
    border-radius : 50%;
}
/*Filtres*/

/*Hébergements*/

/*Taille des images*/

.img_hebergements{
    

    height: 120px;
  width: 250px;
  border-radius: 10px 10px 0 0 ;

 

}

.img_populaires {
  height: 150px;
  width: 150px;
  border-radius: 10px 0 0 10px;
}



/*Taille des images*/

.container2 {
    display: flex;
}

#grande_section {
    display: flex;
    flex : 3;
   
}

#Hebergements {
    
    
  
    background-color: #F2F2F2;
     margin-left: 0px; /*margin:auto*/

    border-radius: 10px;
    max-width: 70%;
}



section  {
    
    background-color: #F2F2F2;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
} 

/*.test {
    display: inline-flex;

    flex-wrap: wrap;
    color:black;
   
} */
.test a {
    color:black;

}
.test p {
    

    background-color: white;
    padding : 5px;
    border-radius: 10px;
}

.blue {
    color:#0065FC;
}

.grey {
    color:#DEEBFF;
}

em {
    font-style: normal;
    font-weight: bold;
}


/*#tit {
    
    max-width: 70%;
    margin-left: 60px;
}*/
    


/*Aside*/


aside {
    flex:1.2;
  /*  display: flex;
   flex-direction: column; */
    background-color: #F2F2F2;
    color:black;
   /* margin-left: 20px; */
    padding : 25px;
    border-radius: 10px;
    margin-left: 25px;
    position: relative;
} 
.style_aside p {
    background-color: white;
    padding : 5px;
    border-radius: 10px;
    float: right;
    /*margin:auto;*/

}
.style_aside a {

    color:black;
 
}



#Hebergements h2 {
    color:black;
    margin-left: 25px;
    font-size: 25px;
}

#Hebergements h3 {
    font-size: 17px ;
    margin-left: 35px;
}

.graph {
   float: right;
   margin-right: 25px;
}

.img_populaires {
  /*  display: flex;

    flex-direction:column; 
    margin: auto;*/
  float: left; 
  padding-right: 10px;
}


/*Aside */


/*Activités*/

#Activités {
    margin-left: 0px;
    padding-bottom: 50px;
}
#Activités p {
    margin-left: auto;
}

.img_activites_height { 
    height : 400px ;
width : 300px ;
border-radius: 10px 10px 0 0 ;
}

.img_activites_width { 
    height : 150px ;
width : 300px;
border-radius: 10px 10px 0 0 ;
}


.style_activités a  { color : black;}

.container3 { 
    display: inline-flex;

/*flex-direction: row;
    flex-flow: row;*/

}

.style_activités {
    /*display: inline-flex;*/

  border: auto;
    border: 1px solid red; 
}

.style_activités p {

    
    box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.19);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
/*border: 1px solid red; */


}

.style_activités  em {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.fort {

align-self:flex-start;  


    margin-right: 25px;

}
.parc {
align-self: flex-end;
position:relative ;
right :656px;
margin-left: 25px;}




.frioul {
    align-self:flex-end;  
    justify-content: flex-end;
    align-self: flex-end;
    justify-content: flex-start;
    position:relative ;
    right :328px;
    margin-right: 25px;}



.notre {
    align-self: flex-start;
   position:relative;
right: 328px;
}
.port {
    align-self: flex-start;
    margin-right: 25px;

}

.calanques {

    display: flex;
    flex-direction: column;
    margin-right: 25px;

align-self: flex-start;
position:relative;
right: 328px;
}


@media screen and (max-width: 600px) {
    
footer {
display: flex;
flex-direction: column;

}
#Hebergements, section {
    display:flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    flex-wrap: nowrap;
}

aside {
    display:flex;
    flex-direction: column;
justify-content: left;   
 width: 100%;
 margin: auto;
float: left;}

.style_activités {
   
border-color:blueviolet;

}
.container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

 .frioul   {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    position:relative ;
    right :170px;
    width: 100%;
/*justify-content: flex-start;*/ }

.parc {
    align-self: flex-start;
    position:relative ;
    right :0;
    margin-left: 0px;}

    .calanques {

        display: flex;
        flex-direction: column;
        margin-right: 0px;
    
    align-self: flex-start;
    position:relative;
    right: 0px;
    }
    .notre {
        display: flex;
        align-self: flex-start;
       position:relative;
    right: 0px;
    }

body {

    display: flex;
}
  #grande_section {
    display: flex;
    flex-direction: column;
   
  }


  #Filtres ul  {
      display: inline-flex;
      flex-direction: column;
  }
  #titre_filtres {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
  #Familial {
    display: inline-flex;
    flex-direction: row;

  }
  
#Filtres ul {
   }

   #Economique {
    padding-right: 0px;
        margin-bottom:auto ;
    
    }
   
}